[submodule "cookbooks/chef-amba-kit"]
	path = cookbooks/chef-amba-kit
	url = git://git.greensocs.com/chef-amba-kit
[submodule "cookbooks/chef-gem5"]
	path = cookbooks/chef-gem5
	url = git://git.greensocs.com/chef-gem5
[submodule "cookbooks/chef-systemc"]
	path = cookbooks/chef-systemc
	url = git://git.greensocs.com/chef-systemc
[submodule "cookbooks/chef-http_proxy"]
	path = cookbooks/chef-http_proxy
	url = git://git.greensocs.com/chef-http_proxy
[submodule "cookbooks/chef-greenlib"]
	path = cookbooks/chef-greenlib
	url = git://git.greensocs.com/chef-greenlib
[submodule "cookbooks/apt"]
	path = cookbooks/apt
	url = git://github.com/opscode-cookbooks/apt.git
[submodule "cookbooks/chef-autoshutdown"]
	path = cookbooks/chef-autoshutdown
	url = git://git.greensocs.com/chef-autoshutdown
[submodule "cookbooks/chef-ACESlave"]
	path = cookbooks/chef-ACESlave
	url = git://git.greensocs.com/chef-ACESlave
[submodule "GSProject"]
	path = GSProject
	url = git://git.greensocs.com/GSProject
